body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif
}

.title {
    font-weight: lighter;
}

.main-img {
    margin: px 10px 10px auto;
    width: 300px;
    
    box-shadow: 0px 2px 5px lightgray;
}

.container {
    display: flex;
}

.metadata{
    margin: 1px 30px
}

/* Style the list */
ul.breadcrumb {
  list-style: none;
  }

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 1px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #565959;
  text-decoration: none;
}


